# This is Git's per-user configuration file.
[core]
	pager = diff-so-fancy | less --tabs=1,5 -RFX

[alias]
	patch = !git --no-pager diff --no-color

[user]
	name = Nick Elsmore
	email = nicholaselsmore@gmail.com

[github]
	user = ToastBucket

[color]
	ui = auto

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[diff-so-fancy]
	markEmptyLines = false

[color "diff"]
	commit = "blue"
	frag = "blue"
	func = "cyan"
	meta = "yellow"
	new = "green"
	old = "red"
	plain = "white"
	whitespace = "red reverse"

[color "diff-highlight"]
	oldNormal = "red"
	oldHighlight = "white red"
	newNormal = "green"
	newHighlight = "black green"

[includeIf "gitdir:~/projects/pwc/"]
	path = ".config/git/gitconfig-pwc"
